
# =========================
# BUILD OUTPUT
# =========================
**/bin/
**/obj/
**/out/
**/publish/

# =========================
# RIDER / IDE
# =========================
.idea/
*.sln.iml

# =========================
# VISUAL STUDIO
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# LOGS
# =========================
*.log

# =========================
# TESTES
# =========================
TestResults/
coverage/

# =========================
# NUGET
# =========================
*.nupkg
*.snupkg

# =========================
# SEGREDOS (IMPORTANTE)
# =========================
secrets.json
*.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db